$secondary-text-color: rgb(130, 130, 130);
$secondary-text-priority-color: rgb(90, 90, 90);
$outline: rgba(92, 92, 92, 0.3);
$outline-easy: rgba(92, 92, 92, 0.158);
$task-list-scrollbar-track: #f1f1f146;
$task-list-scrollbar-thumb: #8b8b8b42;
$task-list-scrollbar-thumb-hover: #7474746c;
$task-background: white;
$task-priority-background: rgba(128, 128, 128, 0.25);
$task-box-shadow: rgba(0, 0, 0, 0.1);