.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;
    padding: 30px;

    .board-bar {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;

        .board-name {
            font-size: 40px;
            font-weight: 800;
        }

        .history-menu {
            font-size: 20px;
            font-weight: 800;
        }
    }

    .board-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;

        .board-columns {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fill, minmax(423px, 1fr));
            margin: 0;
            margin: 20px 0px 50px 0px;
            row-gap: 50px;
            column-gap: 20px;
            justify-items: center;

            .board-column {
                display: flex;
                flex-direction: column;
                height: 700px;
                width: 100%;
                max-width: 423px;
                padding: 25px;
                border-radius: 7px;
                background: rgba(white, 0.5);
            }
        }
    }
}