@use "colors" as colors;

.task-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tasks-container {
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-list-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;

    .header-title {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 20px;
        border-top: 2px solid colors.$outline-easy;
        border-bottom: 2px solid colors.$outline-easy;

        .header-title-text {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }

        .end-container {
            display: flex;
            gap: 20px;
        }
    }

    .new-card-menu {
        padding: 10px;
        border: 2px dashed colors.$outline;
        border-radius: 10px;
        margin-bottom: 10px;

        .new-card-button {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.empty-list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 60px;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: colors.$task-list-scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: colors.$task-list-scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
    background: colors.$task-list-scrollbar-thumb-hover;
}

.task-box {
    display: flex;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px colors.$task-box-shadow,
        0 8px 10px 1px colors.$task-box-shadow,
        0 3px 14px 2px colors.$task-box-shadow;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.1, 1);
}

.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}