<div class="item-wrapper">
    @if(board)
    {
    <header class="header">
        <button class="card-header-icon" [matMenuTriggerFor]="menu">
            <span class="icon">
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="has-text-danger" (click)="deleteBoard()">
                <span class="icon">
                    <i class="fa-solid fa-trash"></i>
                </span>
                <span>Delete</span>
            </button>
        </mat-menu>
    </header>

    <body class="body">
        <div class="board-name">
            <div class="board-redirect-zone" (click)="redirectToBoard()">
                {{board.name}}
            </div>
        </div>
        <button class="card-header-icon" (click)="openListManagerMenu()">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </button>
    </body>
    <footer class="footer">
        <div class="amount">
            <div class="board-list-amount">
                {{taskListsAmount}}
                <span class="icon">
                    <i class="fa-solid fa-book"></i>
                </span>
            </div>
            <div class="board-task-amount">
                {{tasksAmount}}
                <span class="icon">
                    <i class="fas fa-tasks"></i>
                </span>
            </div>
        </div>
        <div class="board-creation-time">{{getFormatedDate(board.creationTime)}}</div>
    </footer>
    }
    @else {
    <div class="empty-board">
        <button (click)="openListManagerMenu()">
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
    }
</div>