@use "task-card" as tc;

.manager-wrapper {
    @extend .card-wrapper;
    width: 400px;

    .manager-header {
        @extend .card-header;
    }

    .manager-body {
        @extend .card-body;

        .action-buttons {
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: center;

            >* {
                flex: 1 1 0;
                border-radius: 5px;
            }
        }

        #input-name {
            border-radius: 2px;
        }
    }
}