@use 'colors' as colors;

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    overflow-x: hidden;
}

.header {
    padding: 24px 40px 19px 70px;
    display: flex;
    align-items: center;
    gap: 12px;
    background:
        linear-gradient(20deg, colors.$main-navbar 0%, colors.$main-navbar-gradient-end 100%);

    font-size: 35px;
    font-weight: 800;

    *:hover {
        cursor: pointer;
    }

    .name {
        text-wrap: nowrap;
        margin: 0;
    }

}

.wrapper {
    flex-grow: 1;
    overflow-y: auto;
    border-left: 40px solid;
    border-image:
        linear-gradient(to bottom,
            colors.$main-navbar, colors.$main-navbar-gradient-end) 1 100%;

}