<ng-container *ngIf="task">
    <div class="task-wrapper">
        <div class="moveable-zone">
            <i class="fa-solid fa-minus"></i>
        </div>
        <div class="task">
            <header class="task-header">
                <p class="task-header-text">
                    {{task.name}}
                </p>
                <button [matMenuTriggerFor]="menu">
                    <span class="icon">
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openInfoMenu()">
                        <span class="icon">
                            <i class="fa-solid fa-hashtag"></i>
                        </span>
                        Info
                    </button>
                    <button mat-menu-item (click)="openEditMenu()">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        Edit
                    </button>
                    <button mat-menu-item class="has-text-danger" (click)="deleteButton()">
                        <span class="icon">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                        Delete
                    </button>
                </mat-menu>
            </header>

            <body class="task-body">
                <div class="task-description">
                    {{task.description}}
                </div>
                <div class="task-date">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <div>
                        {{getFormatedDate(task.dueTime)}}
                    </div>
                </div>
                <div class="task-priority">
                    <span class="icon">
                        &#x2022;
                    </span>
                    <div>
                        {{getPriorityString(task.priority)}}
                    </div>
                </div>
            </body>
        </div>
    </div>
</ng-container>