<div class="task-info-wrapper">
    <div class="close-button">
        <button mat-dialog-close>
            <span class="icon">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </button>
    </div>
    <div class="task-info">
        <header class="info-header">
            <div class="card-name">{{task.name}}</div>
            <div>
                <button class="button" mat-dialog-close (click)="openEditMenu()">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Edit card</span>
                </button>
            </div>
        </header>

        <body class="info-body">
            <div class="task-params">
                <div class="param-header">
                    <span class="icon">
                        <i class="fa-solid fa-list"></i>
                    </span>
                    <span>List</span>
                </div>
                <div class="param" *ngIf="currentTaskList$ | async as currentTaskList">{{ currentTaskList.name }}</div>
                <div class="param-header">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span>Due date</span>
                </div>
                <div class="param">{{getFormatedDate(task.dueTime)}}</div>
                <div class="param-header">
                    <span class="icon">
                        <i class="fa-solid fa-tags"></i>
                    </span>
                    <span>Priority</span>
                </div>
                <div class="param">{{getPriorityString(task.priority)}}</div>
            </div>
            <div class="task-description">
                <div class="description-header">
                    Description
                </div>
                <div class="description-body">{{task.description}}</div>
            </div>
        </body>
    </div>
    <div class="task-activity">
        <header class="activity-header">
            Activity
        </header>

        <body class="activity-body">
            <ng-container *ngIf="(taskActivities$ | async) as taskActivities; else loading">
                <div class="activity-event" *ngFor="let activity of taskActivities">
                    <div class="event-description" *ngIf="activity.description"
                        [innerHTML]="sanitizeHtml(activity.description)">
                    </div>
                    <div class="event-date is-italic">{{getFormatedDate(activity.activityTime)}}</div>
                </div>
            </ng-container>
            <ng-template #loading>
                Loading...
            </ng-template>
        </body>
    </div>
</div>