@use "colors" as colors;
@use "task-card" as tc;

$task-info-width: 700px;
$task-info-min-height: 600px;
$task-info-section-max-width : calc($task-info-width / 2);
$main-header-height: 70px;
$max-description-height: 400px;
$max-activity-height: 600px;
$card-name-width: $task-info-width * 0.4;
$description-body-width: $task-info-width * 0.45;

@mixin straight-text-block {
    text-wrap: pretty;
    word-break: break-all;
    overflow-y: auto;
    padding-right: 10px;
}

@mixin part-header {
    @extend .card-header;
    display: flex;
    min-height: $main-header-height;
    align-items: center;
}

@mixin part-body {
    display: flex;
    flex-direction: column;
    color: colors.$secondary-text-color;
}

.task-info-wrapper {
    @extend .card-wrapper;
    flex-direction: row;
    width: $task-info-width;
    min-height: $task-info-min-height;
    flex-grow: 1;

    >* {
        padding: 0 20px 30px 30px;
    }

    .close-button {
        position: absolute;
        right: 10px;
        top: 5px;
        padding: 0;
        font-size: 25px;
    }

    .task-info {
        display: flex;
        flex-direction: column;
        max-width: $task-info-section-max-width;
        flex-grow: 1;

        .info-header {
            @include part-header;
            justify-content: space-between;

            .card-name {
                max-width: $card-name-width;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
            }
        }

        .info-body {
            @include part-body;
            gap: 20px;

            .task-params {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 20px;
                font-size: 15px;

                .param {
                    color: colors.$secondary-text-priority-color;
                    font-weight: 800;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
            }

            .task-description {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .description-header {
                    font-size: 17px;
                    font-weight: 800;
                    align-items: center;
                    color: colors.$secondary-text-priority-color;
                }

                .description-body {
                    @include straight-text-block;
                    max-height: $max-description-height;
                    max-width: $description-body-width;
                }
            }
        }
    }

    .task-activity {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .activity-header {
            @include part-header;
        }

        .activity-body {
            @include part-body;
            gap: 10px;
            @include straight-text-block;
            max-height: $max-activity-height;

            .activity-event {
                display: flex;
                flex-direction: column;
                text-wrap: wrap;
                word-wrap: break-word;

                .event-description {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;

                    &::before {
                        content: "•";
                        margin-right: 5px;
                    }
                }

                .event-date {
                    text-wrap: nowrap;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
}